* {
    font-family: 'Times New Roman', Times, serif;
}

.view-score{
    color: darkblue;
}

.title-opener{
    text-align: center;
}

.test-kno{
    text-align: center;
}

.start-button{
    text-align: center;
    margin-left: 49%;
    background-color: darkblue;
    color: white;
    font-size: large;
}

